


<div ng-controller="TimelineController" class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form class="form-inline">
      		<input ng-model="query" type="text" placeholder="Filter by" autofocus>
	    </form>
	    <div class="paal"></div>
	    <div>
	    	{{allCanvases}}
	    </div>
	    <div class="timeline">
			<div ng-repeat="y in allCanvas | filter:query | orderBy:'year':true" >
				<div class="tag-year">{{ y.year }}</div>

				<div ng-repeat="m in y.m" class="month">
					<div class="align-hrz">
						<div class="tag-month">{{ m.month }}</div>
						<div class="hrz-line"></div>
					</div>
					
					<div class="canvas-holder">	
						<div ng-repeat="canvas in m.canvas" class="cvs_item">
							{{ canvas.name }}
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
	    </div>
    <div class="col-md-2"></div>
</div>

<style>
	.row, .ng-scope, .col-md-8{
		height:100%;
	}
	.cvs_item {
	  background: green;
	  width: 150px;
	  height: 120px;
	  text-align: center;
	  display: inline-block;
	  margin: 0 5px 10px 5px;
	}

	.tag-year{
		background: black;
		padding: 21px 25px 19px 15px;
		border-radius: 100px;
		width: 60px;
		color: white;
	}

	.tag-month{
		text-align: center;
	}
	.paal{
		width:5px;
		height:100%;
		margin-left:28px;
		top:0;
		position: fixed;
		background: black;
		z-index: 0;
	}
	.timeline{
		position: relative;
		z-index: 1;
	}

	#wrapper{
		overflow-y: auto;
		overflow-x:hidden;
	}
	.hrz-line{
		width: 100px;
		height: 5px;
		background: black;
		display: inline-block;
	}
	.align-hrz{
		float:left;
		margin-left: 33px;
		margin-top: 30px;
	}

	.canvas-holder{
		  margin-left: 133px;
	}
</style>