<div id="wrap">
<!-- 	<a ng-click='back()' class="back_button">Back</a> -->
	<div class="container">
		<div class="panel-style space">
			<a ng-click="goBack()" class="back_link">Terug</a>
			<h3 class="heading-title">Alle groepen van {{ organisationName }}</h3>
			<div class="table_buttons" align="right"	>
				<button class="btn blue" data-toggle="modal" data-target="#setUsers"><span class="glyphicon glyphicon-plus"></span> Voeg gebruikers toe aan deze organisatie</button>
				<button class="btn blue" data-toggle="modal" data-target="#setModerators"><span class="glyphicon glyphicon-plus"></span> Maak gebruikers moderator van deze organisatie</button>
				<button class="btn blue" data-toggle="modal" data-target="#newGroup"><span class="glyphicon glyphicon-plus"></span> Groep toevoegen</button>
				<button class="btn blue" data-toggle="modal" data-target="#newUser"><span class="glyphicon glyphicon-plus"></span> Gebruikers aanmaken</button>
			</div>
			<table class="table simple">
				<thead>
					<tr>
						<th>Groep</th>
						<th>Moderators</th>
						<th>Instellingen</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="group in allGroups | orderBy: 'title'" id="{{group._id}}">
						<td ng-model="group.groupName"><a href="#/moderator/{{organisationId}}/groups/{{group._id}}">{{ group.title }}</a></td>
						<td><p ng-repeat="moderator in group.moderators">{{moderator.firstName}}</p></td>
						<td><button class="btn orange" ng-click="fillModeratorlist(group._id)" data-toggle="modal" data-target="#settingsid{{group._id}}">Instellingen</span></button></td>
					</tr>
				</tbody>
			</table>
			
			<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  	<div class="modal-dialog">
					<div class="modal-content">
						<form name="createNewUser" ng-submit="createNewUser.$valid && submitNewUser(username, password1, password2, email, firstName, middleName, surName)">
					  		<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Gebruiker toevoegen</h4>
					  		</div>
						  	<div class="modal-body input-f-wrapper">
					  			<div class="input-row">
					  				<label for="input-username">Gebruikersnaam</label>
									<input type="text" class="form-control" id="input-username" placeholder="Gebruikersnaam" ng-model="username" required>
					  			</div>
						  		<div class="input-row">
						  			<label for="input-password1">Wachtwoord</label>
					            	<input type="password" class="form-control" id="input-password1" placeholder="Wachtwoord" ng-model="password1" required>
				            	</div>
				            	<div class="input-row">
						  			<label for="input-password2">Bevestig wachtwoord</label>
					            	<input type="password" class="form-control" id="input-password2" placeholder="Bevestiging" ng-model="password2" required>
				            	</div>
				            	<div class="input-row">
						  			<label for="input-email">Email adres</label>
					            	<input type="email" class="form-control" id="input-email" placeholder="Email" ng-model="email" required>
				            	</div>
				            	<div class="input-row">
						  			<label for="input-firstname">Voornaam</label>
					            	<input type="text" class="form-control" id="input-firstname" placeholder="Voornaam" ng-model="firstName" required>
				            	</div>
				            	<div class="input-row">
						  			<label for="input-middlename">Tussenvoegsel</label>
					            	<input type="text" class="form-control" id="input-middlename" placeholder="Tussenvoegsel" ng-model="middleName">
				            	</div>
				            	<div class="input-row">
						  			<label for="input-surname">Achternaam</label>
					            	<input type="text" class="form-control" id="input-surname" placeholder="Achternaam" ng-model="surName" required>
				            	</div>
						  	</div>

					  		<div class="modal-footer">
								<button type="submit" class="btn blue" >Gebruiker toevoegen</button>
					  		</div>
				  		</form>
					</div><!-- /.modal-content -->
			  	</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="modal fade" ng-repeat="group in allGroups" id="settingsid{{group._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				<form name="newGroupName" novalidate ng-submit="newGroupName.$valid && submitEditedGroup(group.title, group)">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Wijzigen</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
					  		<div class="input-row">
								<label>Groep naam</label>
								<input type="text" class="form-control" ng-model="group.title"/>
							</div>
							</br>
							<h4>Voeg moderators toe</h4>
							<div class="moderator_list list">
								<label ng-repeat="moderator in allModerators">
								  <input
								    type="checkbox"
								    name="selectedModerators[]"
								    value="{{moderator._id}}"
								    ng-checked="selectionOfModerators.indexOf(moderator._id, group._id) > -1"
								    ng-click="toggleSelectionOfModerators(moderator._id, group._id)"> {{moderator.firstName}} {{moderator.middleName}} {{moderator.surName}}
								</label>
							</div>
					  </div>

					  <div class="modal-footer">
						<button type="submit" class="btn blue" onclick="$('.modal').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();">Wijzigen</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Modal -->
			<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="groupForm" ng-submit="groupForm.$valid && addGroup(newGroupName)">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Voeg een nieuwe groep toe</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
					  	<div class="input-row">
							<label>Groep naam</label>
							<input type="text" class="form-control" placeholder="Naam" ng-model="newGroupName" required />
						</div>

					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue">Groep aanmaken</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Modal -->
			<div class="modal fade" id="setModerators" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="setModeratorForm" novalidate ng-submit="setModeratorForm.$valid && submitNewModeratorList()">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Maak gebruikers moderator van deze organisatie</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
							<h4>Vink users aan om ze moderator te maken</h4>
							<div class="moderator_list list">
								<label ng-repeat="user in usersOfOrganisation">
								  <input
								    type="checkbox"
								    name="selectedUsersToMakeModerator[]"
								    value="{{user._id}}"
								    ng-disabled="{{user.isChecked}}"
								    ng-checked="user.isChecked"
								    ng-click="toggleSelectionOfUsersMakingModerator(user._id)"> {{user.firstName}} {{user.middleName}} {{user.surName}}
								</label>
							</div>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue" onclick="$('#setModerators').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();">Maak moderators aan</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- @TODO filter the ng-repeat on users who don't have an organisation yet??? -->

			<!-- Modal -->
			<div class="modal fade" id="setUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="setUsersForm" novalidate ng-submit="setUsersForm.$valid && submitNewUsersToOrganisation()">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Selecteer gebruikers</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
							<div class="moderator_list list">
							<!-- @TODO filter the ng-repeat on users who don't have an organisation yet??? -->
								<label ng-repeat="user in allUsers">
								  <input
								    type="checkbox"
								    name="selectedUsersToAddToOrganisation[]"
								    value="{{user._id}}"
								    ng-checked="user.isChecked"
								    ng-disabled="user.isChecked"
								    ng-click="toggleSelectionOfUsersAddOrganisation(user._id)"> {{user.firstName}} {{user.middleName}} {{user.surName}}
								</label>
							</div>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue" onclick="$('#setUsers').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();">Voeg de users toe!</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div>
	</div><!-- /.container -->
</div>
