<div ng-controller="UserController">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="title-header col-md-10">
            <h1>Wijzig wachtwoord</h1>
            <div class="divider"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row "> 
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleInputFile">Pasfoto</label><br />
                        <img src="assets/img/placeholder-photo.png" alt="Pasfoto" />
                    </div>
                </div>
                <div class="col-md-4">
                    <form role="form">
                    <div class="form-group">
                        <label for="new">Nieuw wachtwoord</label>
                        <input type="password" class="form-control" id="new" ng-model="password.new">
                    </div>
                    <div class="form-group">
                        <label for="repeat">Herhaal nieuw wachtwoord</label>
                        <input type="password" class="form-control" id="repeat" ng-model="password.repeat">
                    </div>
                    <button type="submit" id="editprofile-button" ng-click="changePassword(password)" class="btn btn-default">Opslaan</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>