<div id="wrap">
	<div class="container">
		<div class="panel-style space">
			<a class="btn btn-default" style="background:#777;float:left;margin-top:-70px;margin-left:-25px;" ng-click="goBack()"><i class="fa fa-arrow-left"> Ga terug</i></a>
			<h2>Welkom {{ user.username }}</h2>
			<h3 class="heading-title">Niveaus van leerlijn {{ learningName }}</h3>

			<div class="table_buttons" align="right">
				<div class="input-group searchbar">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" class="form-control" placeholder="Zoeken" ng-model="searchTable">
				</div>
				<button class="btn blue" data-toggle="modal" data-target="#newNiveau"><span class="glyphicon glyphicon-plus"></span> Nieuw niveau toevoegen</button>
			</div>

			<table class="table simple">
				<thead>
					<tr>
						<th>Titel</th>
						<th>Beschrijving</th>
						<!-- <th>Sectie</th> -->
						<th>Instellingen</th>		
					</tr>
				</thead>

				<tbody >
					<tr ng-repeat="niveau in niveaus | filter:searchTable | orderBy:'title'" id="{{niveau._id}}" style="cursor:auto;" class="tablerow">
						<td>{{niveau.title}}</td>
						<td style="white-space: pre;">{{niveau.descriptionEdited}}</td>		
						<td>
							<button class="btn orange" data-toggle="modal" data-target="#settingsid{{niveau._id}}"><i class="fa fa-pencil"></i> Instellingen</button>
							<button class="btn red second_button" data-toggle="modal" data-target="#deleteid{{niveau._id}}"><i class="fa fa-times"></i> Verwijder</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Modal Add Learning -->
			<div class="modal fade" id="newNiveau" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="niveauForm" ng-submit="niveauForm.$valid && addNiveau(newTitle, newDescription)">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Voeg een nieuw niveau toe</h4>
					  </div>
					  <div class="modal-body input-f-wrapper input_box">
						<div class="input_row input-group">
							<label>Niveau titel</label>
							<input type="text" placeholder="Naam" ng-model="newTitle" required class="form-control" />
						</div>
						<div class="input_row input-group">
							<label>Niveau beschrijving</label>
							<textarea placeholder="Beschrijving" ng-model="newDescription" required class="form-control" rows="15" cols="80" id="textarea_niveau"></textarea>
						</div>
						<!-- <div class="input_row input-group">
							<label>Niveau sectie</label>
							<input type="text" placeholder="Sectie" ng-model="newSection" required class="form-control" />
						</div> -->

					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue">Niveau aanmaken</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Modal Edit Learning -->
			<div class="modal fade" ng-repeat="niveau in niveaus" id="settingsid{{niveau._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				<form name="editNiveauForm" novalidate ng-submit="editNiveauForm.$valid && editNiveau(niveau.title, niveau.description, niveau)">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Wijzig {{organisation.name}}</h4>
				  </div>
				  <div class="modal-body input-f-wrapper input_box">
				  		<div class="input_row input-group">
							<label>Titel niveau</label>
							<input type="text" ng-model="niveau.title" class="form-control" />
						</div>
						<div class="input_row input-group">
							<label>Beschrijving niveau</label>
							<textarea ng-model="niveau.description" class="form-control" rows="15" cols="80"></textarea>
						</div>
						<!-- <div class="input_row input-group">
							<label>Sectie niveau</label>
							<input type="text" ng-model="niveau.section" class="form-control" />
						</div> -->
				  </div>

				  <div class="modal-footer">
				  	<!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Verwijder</button> -->
					<!-- <button type="button" class="btn default" data-dismiss="modal">Annuleren</button> -->
					<button type="submit" class="btn blue" onclick="$('.modal').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();">Wijzigen</button>
				  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->


			<!-- Modal warning DELETE -->
			<div class="modal delete fade" ng-repeat="niveau in niveaus" id="deleteid{{niveau._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				<form name="editLearningForm" novalidate>
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Verwijder {{niveau.title}}</h4>
					<p>Weet u zeker dat u "{{niveau.title}}" wilt verwijderen?</p>
				  </div>
				  	<!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Verwijder</button> -->
					<!-- <button type="button" class="btn default" data-dismiss="modal">Annuleren</button> -->
					<button data-dismiss="modal" class="btn blue">Annuleren</button>
					<button type="submit" class="btn btn-danger" ng-click="deleteNiveau(niveau._id, $index)" onclick="$('.modal').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();">Verwijderen</button>
				  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div>

		<div class="dialog">
            <div class="d-success">
              <h2></h2>
              <p></p>
            </div>
        </div>
		
	</div><!-- /.container -->
</div>
    