<!-- Bootstrap core CSS -->
<link href="dev/css/bootstrap.min.css" rel="stylesheet">

<div id="wrap">
	<a ng-click='back()' class="back_button">Back</a>
	<div class="container">
		<div class="panel-style space">
			<h3 class="heading-title">Alle groepen</h3>
			
			<div align="right"	>
				<button class="btn blue" data-toggle="modal" data-target="#setModerators"><span class="glyphicon glyphicon-plus"></span> Maak users moderator van deze organisatie</button>
				<button class="btn blue" data-toggle="modal" data-target="#newGroup"><span class="glyphicon glyphicon-plus"></span> Groep toevoegen</button>
			</div>
			<table class="table simple" style="margin-top: 20px;">
				<thead>
					<tr>
						<th>Groep</th>
						<th>Moderators</th>
						<th>Aantal leden</th>
						<th>Instellingen</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="group in allGroups" id="{{group._id}}">
						<td ng-model="group.groupName"><a href="#/admin/users/{{group._id}}">{{ group.title }}</a></td>
						<td><p ng-repeat="moderator in group.moderators">{{moderator.firstName}}</p></td>
						<td></td>
						<td><button class="btn orange" data-toggle="modal" data-target="#settingsid{{group._id}}"><span class="glyphicon glyphicon-cog"></span></button></td>
					</tr>
				</tbody>
			</table>
			<!-- Deze moet dus in de for each !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --> 
			<div class="modal fade" ng-repeat="group in allGroups" id="settingsid{{group._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				<form name="newGroupName" novalidate ng-submit="newGroupName.$valid && submitNewGroupName(group.title, group)">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Wijzigen</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
							<label>Groep naam</label>
							<input type="text" ng-model="group.title"/>
							</br>
							<h4>Voeg moderators toe</h4>
							<div class="moderator_list">
								<label ng-repeat="moderator in allModerators">
								  <input
								    type="checkbox"
								    name="selectedModerators[]"
								    value="{{moderator._id}}"
								    ng-checked="selectionOfModerators.indexOf(moderator._id) > -1"
								    ng-click="toggleSelectionOfModerators(moderator._id)"> {{moderator.firstName}}
								</label>
							</div>
					  </div>

					  <div class="modal-footer">
<!-- 							  	<button type="button" class="btn btn-danger" data-dismiss="modal">Verwijder</button> -->
						<button type="submit" class="btn blue">Wijzigen</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Modal -->
			<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="groupForm" novalidate ng-submit="groupForm.$valid && addGroup(newGroupName)">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Voeg een nieuwe groep toe</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
						
						<input type="text" placeholder="Naam" ng-model="newGroupName" required />
						</br>

					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue">Groep aanmaken</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Modal -->
			<div class="modal fade" id="setModerators" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="setModeratorForm" novalidate ng-submit="setModeratorForm.$valid && submitNewModeratorList()">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Maak gebruikers moderator van deze organisatie</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
							<h4>Vink users aan om ze moderator te maken</h4>
							<div class="moderator_list">
								<label ng-repeat="user in usersOfOrganisation">
								  <input
								    type="checkbox"
								    name="selectedUsersToMakeModerator[]"
								    value="{{user._id}}"
								    ng-checked="selectionOfModerators.indexOf(user._id) > -1"
								    ng-click="toggleSelectionOfUsersMakingModerator(user._id)"> {{user.firstName}}
								</label>
							</div>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue">Maak moderators aan</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div><!-- /.container -->
</div>
