<div id="wrap">
	<div class="container">
		<div class="panel-style space">
			<h3 class="heading-title">Alle organisaties</h3>
			
			<div class="table_buttons" align="right">
				<div class="input-group searchbar">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" class="form-control" placeholder="Zoeken" ng-model="searchTable">
				</div>
				<button class="btn blue" data-toggle="modal" data-target="#newGroup"><span class="glyphicon glyphicon-plus"></span> Organisatie toevoegen</button>
			</div>

			<table class="table simple">
				<thead>
					<tr>
						<th>Organisatie</th>
						<th>Kleur</th>
						<!-- <th>Aantal groepen</th>
						<th>Aantal leden</th> -->
						<th>Instellingen</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="organisation in allOrganisations | filter:searchTable | orderBy: 'name'" id="{{group._id}}" class="tablerow">
						<td data-ng-click="go('/admin/groups/' + organisation._id + '/')" ng-model="groupName">{{ organisation.name }}
						</td>
						<td data-ng-click="go('/admin/groups/' + organisation._id + '/')"><div style="width:14px;height:14px;display:inline-block;background:{{organisation.color}};"></div> {{ organisation.color }}</td>

						<!-- <td>{{ organisation.logo }}</td>
						<td></td> -->
						<td><button class="btn orange" data-toggle="modal" data-target="#settingsid{{organisation._id}}"><i class="fa fa-pencil"></i> Instellingen</button></td>
					</tr>
				</tbody>
			</table>

			<!-- Deze moet dus in de for each !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --> 
			<div class="modal fade" ng-repeat="organisation in allOrganisations" id="settingsid{{organisation._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				<form name="newOrganisationName" ng-submit="newOrganisationName.$valid && submitNewOrganisationName(organisation.name, organisation.color, organisation)">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Wijzig {{organisation.name}}</h4>
				  </div>
				  <div class="modal-body input-f-wrapper">
						<div class="input_row input-group">
							<label>Organisatie titel:</label>
							<input type="text" placeholder="Naam" ng-model="organisation.name" required class="form-control" />
						</div>
						<div class="input_row input-group">
							<label>Organisatie kleur:</label>
							<input type="text" colorpicker="hex" placeholder="Kleurcode" ng-model="organisation.color" required class="form-control" />
						</div>
				  </div>

				  <div class="modal-footer">
				  	<!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Verwijder</button> -->
					<!-- <button type="button" class="btn default" data-dismiss="modal">Annuleren</button> -->
					<button type="submit" class="btn blue">Wijzigen</button>
				  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Modal -->
			<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="organisationForm" ng-submit="organisationForm.$valid && addOrganisation(newGroupName, newGroupColor, newGroupLogo)">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Voeg een nieuwe organisatie toe</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
						<div class="input_row input-group">
							<label>Organisatie naam:</label>
							<input type="text" placeholder="Naam" ng-model="newGroupName" required class="form-control" />
						</div>
						<div class="input_row input-group">
							<label>Organisatie kleur:</label>
							<input type="text" colorpicker="hex" placeholder="Voer hier uw kleurcode in" ng-model="newGroupColor" required class="form-control" />
						</div>

						<input type="hidden" ng-model="newGroupLogo" value="test" />
<!-- 	
						<input type="text" placeholder="Voer hier uw logostring in" ng-model="newGroupLogo" required /> -->
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue">Organisatie aanmaken</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>

		<div class="dialog">
            <div class="d-success">
              <h2></h2>
              <p></p>
            </div>
        </div>
		
	</div><!-- /.container -->
</div>
    