<!-- Bootstrap core CSS -->
<link href="dev/css/bootstrap.min.css" rel="stylesheet">

<div id="wrap">
	<div class="container">
		<div class="panel-style space">
			<h3 class="heading-title">Alle organisaties</h3>
			
			<table class="table simple">
				<thead>
					<tr>
						<th>Organisatie</th>
						<th>Kleur</th>
						<!-- <th>Aantal groepen</th>
						<th>Aantal leden</th> -->
						<th>Instellingen</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="organisation in allOrganisations" id="{{group._id}}">
						<td ng-model="groupName"><a href="#/admin/groups/{{organisation._id}}">{{ organisation.name }}
						</a></td>
						<td>{{ organisation.color }}</td>
						<!-- <td>{{ organisation.logo }}</td>
						<td></td> -->
						<td><button class="btn orange" data-toggle="modal" data-target="#settingsid{{organisation._id}}">Instellingen</button></td>
					</tr>
				</tbody>
			</table>
			<div align="right"	>
				<button class="btn blue" data-toggle="modal" data-target="#newGroup"><span class="glyphicon glyphicon-plus"></span> Groep toevoegen</button>
			</div>
			<!-- Deze moet dus in de for each !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --> 
			<div class="modal fade" ng-repeat="organisation in allOrganisations" id="settingsid{{organisation._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				<form name="newOrganisationName" novalidate ng-submit="newOrganisationName.$valid && submitNewOrganisationName(organisation.name, organisation.color, organisation)">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Wijzig {{organisation.name}}</h4>
				  </div>
				  <div class="modal-body input-f-wrapper">
						<label>Organisatie naam</label>
						<input type="text" ng-model="organisation.name" /> </br>
						<label>Organisatie kleur</label>
						<input type="text" ng-model="organisation.color" />
				  </div>

				  <div class="modal-footer">
				  	<!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Verwijder</button> -->
					<!-- <button type="button" class="btn default" data-dismiss="modal">Annuleren</button> -->
					<button type="submit" class="btn blue" >Wijzigen</button>
				  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- Modal -->
			<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
					<form name="organisationForm" novalidate ng-submit="organisationForm.$valid && addOrganisation(newGroupName, newGroupColor, newGroupLogo)">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Voeg een nieuwe groep toe</h4>
					  </div>
					  <div class="modal-body input-f-wrapper">
						<label>Organisatie naam</label>
						<input type="text" placeholder="Naam" ng-model="newGroupName" required />
						</br>
						
						<label>Organisatie kleur</label>
						<input type="text" placeholder="Voer hier uw kleurcode in" ng-model="newGroupColor" required />

						<input type="hidden" ng-model="newGroupLogo" value="test" />
<!-- 	
						<input type="text" placeholder="Voer hier uw logostring in" ng-model="newGroupLogo" required /> -->
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Annuleren</button>
						<button type="submit" class="btn blue" onclick="$('#newGroup').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();">Organisatie aanmaken</button>
					  </div>
				  </form>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div><!-- /.container -->
</div>
    