<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">

	    <div class="timeline">
        <a class="btn btn-default" style="background:#777; color:white;" ng-if="isModerator() || isAdmin()" ng-click="goBack()"><i class="fa fa-arrow-left"></i> Ga terug</a>
	    	<div>Dashboard van {{}}</div>
			
	    	<div class="leerlijn-container" ng-repeat="leerlijn in learningsParticipant" >
				<div class="leerlijn-title">{{leerlijn.title}}</div>
				
				<div class="levelbar" ng-click="collapse(leerlijn._id)" style="background:{{leerlijn.color}};">
					<div class="level-type" ng-repeat="niveau in leerlijn.niveaux" style="width:{{100/leerlijn.niveaux.length}}%;">
                        <div ng-if="niveau.participants[0].accomplished" style="background:rgba(0,0,0,.4);"></div>
                        <div ng-if="!niveau.participants[0].objects.length" style="background:rgba(255,255,255,.4);"></div>
					</div>
				</div>

                <div class="fader {{leerlijn._id}}">
    				<div class="leerlijn-holder" ng-repeat="niveau in leerlijn.niveaux">	
    					<div class="niveautitle"><i class="fa fa-info info-icon" ng-click="collapse(niveau._id)"></i>{{niveau.title}}</div>
                        <div ng-if="isModerator()" class="checkbox">
                            <label ng-if="niveau.participants[0]">
                                Leerlijn voltooid: 
                                <input ng-model="niveau.participants[0].accomplished" ng-change="accomplished(leerlijn._id, niveau._id, niveau.participants[0].accomplished)" type="checkbox">
                            </label>
                        </div>
                        <div ng-if="!isModerator() && niveau.participants[0].accomplished || !isAdmin && niveau.participants[0].accomplished" class="accomplished">
                            <i class="fa fa-check" />
                            Afgerond
                        </div>
                        <div class="desc {{niveau._id}}"><b>Beschrijving</b><br><br><p style="white-space: pre;">{{niveau.descriptionEdited}}</p></div>
    					<div class="level-header" style="background:{{leerlijn.color}};">
                            <div ng-if="niveau.participants[0].accomplished" style="background:rgba(0,0,0,.4);"></div>
                            <div ng-if="!niveau.participants[0].objects.length" style="background:rgba(255,255,255,.4);"></div>               
                        </div>

    					<div ng-repeat="participant in niveau.participants">
    						<span class=" leerlijn-objects" >
    		                    <div class="leerlijn-object" ng-repeat="object in participant.objects">
    		                   		<div class="object-stroke" style="border-right:2px solid {{leerlijn.color}};">
                                        <div ng-if="niveau.participants[0].accomplished" style="border-right:2px solid rgba(0,0,0,.4);"></div>         
                                    </div>
                                    <div ng-switch on="object.type">
                                        <a href="" class="object-item" popover ng-switch-when="video">
                                            <i class="fa fa-play"></i>
                                            <div class="content hidden">
                                                <i class="fa fa-remove delete-object"></i>
                                                <i class="fa fa-pencil edit-object"></i>
                                                <h4>Feedback:</h4>
                                                <video width="367" height="182" poster="" controls>
                                                    <source ng-src="{{ trustSrc(object.source) }}" type="{{ object.mimetype }}" />
                                                </video>
                                                <div ng-repeat="toelichting in object.toelichting" ng-include="'partials/leerlingdash/toelichting.html'">
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="object-item" popover ng-switch-when="audio">
                                            <i class="fa fa-music"></i>
                                            <div class="content hidden" ng-hide>
                                                <i class="fa fa-remove delete-object"></i>
                                                <i class="fa fa-pencil edit-object"></i>
                                                <button ng-click="test()">test</button>
                                                <h4>Feedback:</h4>
                                                <audio controls>
                                                    <source ng-src="{{ trustSrc(object.source) }}" type="{{ object.mimetype }}">
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <div ng-repeat="toelichting in object.toelichting" ng-include="'partials/leerlingdash/toelichting.html'">
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="object-item" popover ng-switch-when="text">
                                            <i class="fa fa-file-text"></i>
                                            <div class="content hidden" ng-hide>
                                                <i class="fa fa-remove delete-object"></i>
                                                <i class="fa fa-pencil edit-object"></i>
                                                <h4>Feedback:</h4>
                                                <p>{{ object.source }}</p>
                                                <div ng-repeat="toelichting in object.toelichting" ng-include="'partials/leerlingdash/toelichting.html'">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
    		                    </div>
    		                </span>
    					</div>
    			    </div>
                </div>
		    </div>
	    </div>

                                <!-- Modal warning DELETE -->
        <div class="modal delete fade" id="test" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="editLearningForm" novalidate ng-submit="editLearningForm.$valid && editLearning(learningedit.title, learningedit.color, learningedit)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Verwijder {{learningedit.title}}</h4>
                            <p>{{modalObject}}</p>
                        </div>
                        <button data-dismiss="modal" class="btn blue">Annuleren</button>
                        <button type="submit" class="btn btn-danger" ng-click="deleteLearning(learningedit._id, $index)" onclick="$('.modal').modal('hide');$('body').removeClass('modal-open');$('.modal-backdrop').remove();">Verwijderen</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="dialog">
            <div class="d-success">
              <h2></h2>
              <p></p>
            </div>
        </div>

    </div>
</div>
