<div class="container-fluid mv-canvas content zoomViewport" ng-controller="CanvasController">
    <div class="zoomContainer">
        <div class="row">
            <div ng-repeat="fase in fases" class="col-xs-6 mv-spiral-section zoomTarget" zoomtarget data-targetsize="0.95" data-closeclick="true">
                <h2 class="title">{{ fase.fase }}</h2>
                <div ng-repeat="object in fase.objects" class="object {{ object.object.type }}" style="top: {{ object.yPosition + 150 }}px;left: {{ object.xPosition + 150 }}px;">
                    <ng-switch on="object.object.type">
                        <div ng-switch-when="video" class="object video">
                            <a href="/partials/canvas/objects/{{ object.object.type }}.html" colorbox="/partials/canvas/objects/{{ object.object.type }}.html">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </ng-switch>
                </div>
            </div>
        </div>
    </div>
</div>