@import "../general.less";
@import "../colorpicker.less";

body { height:100%;background-color:#f0f1f0; }
html { height:100%; }

#wrapper {
  max-height: 100%;
  overflow-y: scroll;
}

input { outline:none !important; }
textarea { outline:none !important; }

.users_row {
	 width: 200px;
	 /* height: 100px; */
	 overflow: hidden;
}

.user_checkboxes {
	 float: left;
	 /* clear: both; */
	 height: 30px;
	 width: 150px;
}
.chosen-container { width: 220px !important; }

/* panel-shadow-style */

.panel-style { background:#fff url('images/back-shadow-style.png') repeat-x left bottom;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-top:1px solid #e5e5e5;border-radius:2px 2px 4px 4px; }
.panel-style.space { padding:25px;margin:55px 0 55px 0; }

/* typography  page */

.heading-title { /*font-weight:400 !important;*/color:#798189 !important;font-size:18px !important; }

body { font-family: 'Raleway' !important; }

h1 , h2 , h3 , h4 , h5 , h6 { margin:0 0 20px 0;padding:0;/*font-weight:300 !important;*/font-family: calibri, verdana !important; }

h2 { font-size:24px; }

h3 { font-size:18px; }

h4 { font-size:15px; }

h1 { font-size:34px;color:#3f4551; }

a:focus { outline:none !important; }

span { margin:0;padding:0; }

ul { margin:0;padding:0; }

a:link {  }
a:visited {  }
a:hover { text-decoration:none; }
a:active {  }


	
p { font-size:15px;color:#798189;line-height:24px;padding:10px 0 20px 0;font-weight:300; }	


blockquote { font-size:15px;color:#798189;line-height:24px;font-style:italic;border-left: 5px solid #348fcd;padding:0 50px 0 50px;margin:0 0 20px -30px; }
	

ul {  }
ol { padding:0;list-style-type:none; }


/* typography  page - END */



/* tables */

.table.simple tr th { text-transform:uppercase;font-size:12px;color:#798189;border-right:1px solid #e1e3e4; }
.table.simple tr th:last-child { border-right:none; }
.table.simple thead { background:#f4f5f5;   }
.table.simple thead th { border-bottom:1px solid #e1e3e4;padding-top:17px;padding-bottom:15px; }
.table.simple tbody tr td { border-right:1px solid #e1e3e4;font-size:15px;color:#b2b5b9;line-height:32px;padding-left:15px; width:38%; max-width: 550px; overflow:hidden; word-wrap:break-word;}
.table.simple tbody tr td:last-child { border-right:none; text-align: right; min-width: 260px; }



body table { margin-bottom:40px !important; }

.btn { -moz-transition:160ms all;-webkit-transition:160ms all; }

.btn.default { color:#818689 !important; border:2px solid #e1e3e5;border-radius:2px;display:inline-block;font-size:15px;color:#818689;padding:5px 15px;-o-transition: all 700ms;-moz-transition: all 700ms;-webkit-transition: all 700ms;transition: all 700ms;background:#fff; }	

.btn { font-size:15px;border-radius:2px;color:#fff; }
.btn.default {  }

.btn:link {  }
.btn:visited {  }
.btn:hover { color:#fff; }
.btn:active { color:#fff;box-shadow:none; }

.btn:focus { outline:none;/*color:#fff;*/ }



.btn.default { color:#818689; }
.btn.default:hover { color:#818689; }
.btn.default:Avtive { color:#818689; }

.btn.blue { background:#3498db; }
.btn.orange { background:#F7AF48; }




.btn.orange:link {  }
.btn.orange:visited {  }
.btn.orange:hover { background:#F7A52E; }
.btn.orange:active {  }


.btn.blue:link {  }
.btn.blue:visited {  }
.btn.blue:hover { background:#2e80b6; }
.btn.blue:active {  }


.btn.default:link {  }
.btn.default:visited {  }
.btn.default:hover { color:#818689; }
.btn.default:active {  }

/*
.dropup .btn.green { border-color:#4CAE4C; }
.dropup .btn.red { border-color:#C65552; }
.dropup .btn.orange { border-color:#EEA236; }
.dropup .btn.blue { border-color:#357EBD; }
*/
.btn:active { box-shadow:none; }



label { font-size:15px;color:#899197;margin:0 0 10px 0; }


.input-f-wrapper { margin:0 0 25px 0; }

.panel-style {  }
#wrap {  }

.modal-dialog { box-shadow:none; }
.modal-content { box-shadow:none;border-radius:2px; }

.table thead > tr > th { padding-left:15px !important; }

.modal-body {
	display: inline-block;
}

.moderator_list {
  float: left;
  width: 150px;
}

.modal-dialog {
	left: 0% !important;
}

.userholder {
	width: 500px;
}

.userholder label {
	float: left;
	width: 150px;
	height: 20px;
}

.back_button {
  	position: absolute;
  	left: 50px;
  	top: 20px;
}

.second_button {
	margin-left: 15px;
	background-color: red;
}

.btn {
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
}

.table_buttons .btn {
	margin-bottom: 20px;
}

.input_box {
	width: 350px;
}

.input_row {
	width: 100%;
  	height: 40px;
  	line-height: 15px;
  	margin-top: 10px;
  	margin-bottom: 10px;
}

.input_row label {
	float: left;
}

.input_row input {
	float: right;
}

.input_row textarea {
	float: right;
}

.list {
	float: left;
	width: 470px;
	height: 400px;
	overflow-y: scroll;
}

.list label {
  	float: left;
  	width: 190px;
  	height: 25px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}
 
 @media (max-width: 991px) {
 
.input-f-wrapper input { margin-top:30px; }

}

.table{
	tbody{


		.tablerow{

			td{color:#777 !important;}


			&:hover{
				background:#eee;
				cursor:pointer;
				font-weight: bold;
			}
		}
	}
}

.table_buttons{
	label{
		float:left;
	}

	.searchbar{
		float:left;
		max-width:30%;

		.form-control{
			border: 1px solid #cccccc !important;
		}
	}
}

.input-f-wrapper{
	width:100%;
	.input-group{
		width:100%;

		input{
			border: 1px solid #cccccc !important;
		}
	}
}

.dropdown_list{
	max-height:120px;
	border: 1px solid #bbb;
	overflow-y: auto;
	border-radius: 5px;
	box-shadow: 0px 2px 3px rgba(0,0,0,.3);
	padding-bottom: 10px;

	label{
		width: auto;
		display: block;
		margin: 0;
		cursor:pointer;
		padding: 10px 20px 0;

		.dropdown_seperator{
			width: auto;
			border-bottom: 1px solid #bbb;
			margin-top: 10px;
		}
	}
}

.modal.delete{

	text-align: center;

	button{
		margin:10px;
	}
}

.dialog{
	position:absolute;
	top:50%;
	left:50%;
	z-index: 10;
	transform:translate(-50%);opacity: 0;
	color:white;
	
	.d-success{
		width: 300px; 
		height: 120px; 
		background:rgba(0,0,0,.8); 
		border-radius:4px; 
		color:white; 
		text-align:center; 
		padding:5px;	
		
		p{
			font-size:16px;
			color:white;
		}
	}
}