@import (inline) "Colorbox/colorbox.css";

.mv-canvas
{
    overflow: hidden;
    height: 100%;
    color: blue;

    .row, .zoomContainer
    {
        height: 100%;
    }

    .mv-spiral-section
    {
        height: 50%;
        width: 50%;

        transition: all 0.5s ease;

        &:hover
        {
            background-color: #f6f6f6;
        }

        h2.title
        {
            position: relative;
            left: 50%;
            top: 50%;
            color: #ddd;
            text-transform: capitalize;
        }

        .object
        {
            width: 50px;
            height: 50px;
            background-color: #ddd;
            border-radius: 25px;
            position: absolute;

            &.video, &.audio, &.text
            {
                text-align: center;

                i
                {
                    padding-top: 15px;
                    color: #000;
                    font-size: 14pt;
                }
            }

            &.picture
            {
                background-size: cover;
            }
        }
    }
}