@import "spiral.less";

#editmode-button{
	float: right;
	margin-top: 30px;
}

#non-editmode {
	padding-top: 25px;
}

.profile-row {
	height: 35px;
	line-height: 35px;
}

#editprofile-button {
    float: right;
    margin-top: 20px;
}

/*maakt de echte upload knop onzichtbaar*/
#photo-file {
    height: 0px;
    width:0px; 
    overflow:hidden;
}

#changePasswordLink {
	float: right;
}