@import "spiral.less";

#editprofile-button {
    float: right;
    margin-top: 20px;
}

/*maakt de echte upload knop onzichtbaar*/
#photo-file {
    height: 0px;
    width:0px; 
    overflow:hidden;
}