@import "general.less";

#objectTable{
	margin-right: 55px;
  	margin-left: 260px;
}
#studentSelector{
	float: left;
	width: 250px;
}

.studentListItem{
	list-style-type: none;
}
.studentButton{
	width: 100%;
	border-radius: 7px;
	border: 1px solid #e1e3e4;
	color: #798189;
	background: rgba(225, 227, 228, 0.3);
}

.groupTitle{
	font-weight: bold;
	color: black;
}