@login-blue: #2B99CE;

#wrapper {
    background-color: #ffffff;
}

#login-header #overlay {
    position: relative;
    background: #FFF;
    width: 550px;
    height: 125px;
    margin: auto;
    margin-top: 120px;
    box-shadow: 1px 0 10px @login-blue;
}

#login-header #overlay img {
    width: 86%;
    margin: 10px 7%;
}

.clearer {
    clear: both;
}