#wrapper {
    background-color: #ffffff;
}

#login-header .circle {
    border-radius: 50%;
    width:250px;
    height:250px;
    margin: 100px auto -350px;
    margin-top: 100px;
    /* To ratate */
    /*-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);*/

    -moz-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
}

#login-header #circle-container {
    width:250px;
    height:250px;
    margin: auto;
    margin-top: 100px;

    /*-moz-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);*/
}
.quarter{width:125px;height:125px}
.top-left{border-top-left-radius:125px;background:#FDCC02;float:left}
.top-right{border-top-right-radius:125px;background:#2B99CE;float:right}
.bottom-left{border-bottom-left-radius:125px;background:#CB1502;float:left}
.bottom-right{border-bottom-right-radius:125px;background:#9FCD11;float:right}

#login-header #overlay {
    position: relative;
    background: #FFF;
    width: 550px;
    height: 125px;
    margin: auto;
    margin-top: -185px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
}

#login-header #overlay img {
    width: 86%;
    margin: 10px 7%;
}

.clearer {
    clear: both;
}