@login-blue: #2B99CE;

#wrapper {
    background-color: #ffffff;
}

#header-image {
    display: block;
    background: #FFF;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    margin-top: 110px;
    -webkit-box-shadow: 25px 25px 35px 10px rgba(0,0,0,0.6);   
    -moz-box-shadow: 25px 25px 35px 10px rgba(0,0,0,0.6);
    box-shadow: 25px 25px 35px 10px rgba(0,0,0,0.6);
}

.clearer {
    clear: both;
}