<link rel="stylesheet" type="text/css" href="dev/css/admin_dash.css" />
<!-- Bootstrap core CSS -->
<link href="dev/css/bootstrap.min.css" rel="stylesheet">

<div id="wrap" ng-controller="BucketController">
	<div class="container">
		<div class="panel-style space">
			<h3 class="heading-title" style="font-family: calibri, verdana !important;">Verzamelbak</h3>
			
			<table datatable="" id="bucketTable" class="table simple">
				<thead>
					<tr>
						<th>Type</th>
						<th>Object</th>
						<th>Delete</th>				
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="object in fullBucket" id="{{object._id}}">

<!--
						<ng-switch on="object.object.type">
                        	<div ng-switch-when="video">
                            	<td><i>video</i></td>
                        	</div>
                        	<div ng-switch-when="picture">
                        		<td><i>picture</i></td>
                        	</div>
                        	<div ng-switch-when="audio">
                        	    <td><i>audio</i></td>
                        	</div>
                        	<div ng-switch-when="text">
                        	    <td><i>text</i></td>
                        	</div>
                    </ng-switch>


-->


						<td ng-model="objectType"><span>{{object.type}}</span></td>

						<td>
							<a ng-if="object.type === 'video'" href="{{object.video}}" target="_blank">{{object.video}}</a>
							<a ng-if="object.type === 'audio'" href="{{object.audio}}" target="_blank">{{object.audio}}</a>
							<a ng-if="object.type === 'picture'" href="{{object.picture}}" target="_blank">{{object.picture}}</a>
							<!-- todo: popup for text -->
							<span ng-if="object.type === 'text'">{{object.content}}</span>
						</td>
						<td><button ng-click="deleteItem(object._id)"><span class="glyphicon glyphicon-trash"></span></button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">

			</div>
		</div>





	</div><!-- /.container -->
</div>
    