<style>
#wrapper {
    background-color: #ffffff;
}

#login-header .circle {
    border-radius: 50%;
    width:250px;
    height:250px;
    margin: 100px auto -350px;
    margin-top: 100px;
    /* To ratate */
    /*-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);*/

    -moz-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
}

#login-header #circle-container {
    width:250px;
    height:250px;
    margin: auto;
    margin-top: 100px;

    /*-moz-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 60px 70px rgba(255, 255, 255, 0.4);*/
}
.quarter{width:125px;height:125px}
.top-left{border-top-left-radius:125px;background:#FDCC02;float:left}
.top-right{border-top-right-radius:125px;background:#2B99CE;float:right}
.bottom-left{border-bottom-left-radius:125px;background:#CB1502;float:left}
.bottom-right{border-bottom-right-radius:125px;background:#9FCD11;float:right}

#login-header #overlay {
    position: relative;
    background: #FFF;
    width: 550px;
    height: 125px;
    margin: auto;
    margin-top: -185px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
}

#login-header #overlay img {
    width: 86%;
    margin: 10px 7%;
}

#loginform-wrapper{
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 140px;
}

#input-username,
#input-password,
#submit-login{
    width:100%;
    padding: 6px 8px;
    border: 1px solid #86C5E3;
    height: 34px;
    color: #257CA6;
    background: #FFF;
    outline: 0;
    margin-top: 5px;
    webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#registerLink {
    text-align: center;
    padding-top: 25px;
    display: block;
}


#left,
#right{
    position: absolute;
    z-index: 100;
    width: 7px;
    height: 3px;
    background: #FFF;
}

#left{
    left: 1px;
    top: 32px;
}

#right{
    right: 1px;
    top: 32px;
}

#submit-login{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 20px;
}

#information-wrapper{
    color: #FFF;
    width: 300px;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 10px;
}

#information-wrapper a {
    color: #FFF;
}

#nav-wrapper {
    color: #FFF;
    width: 300px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 10px;
}

#nav-list {
    list-style-type: none;
    float: right;
}

#nav-list li{
    line-height: 40px;
}

#nav-list li a i{
    font-size: 20px;
    padding: 0px 10px;
    width: 40px;
    text-align: center;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #AAC4D5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #AAC4D5;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #AAC4D5;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #AAC4D5;
}

.clearer {
    clear: both;
}
</style>

<div id="wrapper">
    <div id="login-header">
        <!-- <img id="header-image" src="assets/img/login-header.png" alt="Mevolution" />  -->
        <div class="circle"></div>
        <div id="circle-container">
            <div class="quarter top-left"></div>
            <div class="quarter top-right"></div>
            <div class="quarter bottom-left"></div>
            <div class="quarter bottom-right"></div>
        </div>
        <div class="clearer"></div>
        <div id="overlay">
            <img id="header-image" src="assets/img/title.jpg" alt="Mevolution" />
        </div>
    </div>

    <form id="loginform-wrapper" role="form" ng-controller="AuthenticationController">
        <input type="text" class="form-control" id="input-username" placeholder="Gebruikersnaam" ng-model="user.username">
        <input type="password" class="form-control" id="input-password" placeholder="Wachtwoord" ng-model="user.password">

        <input id="submit-login" type="submit" ng-click="signIn(user.username, user.password)" value="Inloggen"/>

        <a id="registerLink" href="#/auth/register" >Registreren</a>
    </form>
</div>